/* tilt.scss */
/* Tilt UI */

@import 'rules';

// Structural
//----------------
html {
	background:#000 url('../images/bg.jpg') no-repeat center center;
	@include background-size(cover);
    background-attachment:fixed;
}
#content-master {
    padding-top:5rem;
}
img { 
    max-width:100%;
    height:auto;
}

// // // // // // //  // //
// Tilt Shift
// // // // // // //  // //
// Rules:
/*
    Use with: tilt-bottom
    Apply #tilt-shift to element
*/

.tilt-shift {
    position:relative;
    height:0;
    overflow:hidden;
}
.tilt-open {
    height:auto;
    overflow:visible;
}

// // // // // // //  // //

// // // // // // //  // //
// Tilt Bottom
// // // // // // //  // //
// Rules:
/*
    Use with: tilt-bottom
    Only apply to last element of body, before footer
/*
<html><head></head><body>
    <header>
    </header>
    <container>
    </container>

    <tilt-bottom>
    </tilt-bottom>

    <footer>
    </footer>
</body></html>
*/

.tilt-bottom {
    position:fixed;
    bottom:0;
    width:100%;
    margin-top:5rem;
    bottom:0;
    text-align:center;
    font-size:0.9em;
    @include transition(all 0.3s ease);
		.title {
		display:inline-block;
		border-bottom:1px dotted #f3f3f3;
		margin-bottom:10rem;
		}
		.item {
			margin-bottom:2rem;
		}
}
.tilt-bottom.scrolled {
    font-size:0.6rem;
    background-color:rgba(0,0,0,0.95);
    padding-top:1rem;
}

// // // // // // //  // //


// Headers
//----------------

//Page Title
.title-master {
	margin-bottom:0.6rem;
    cursor:pointer;
}

//Navigation

#head-master {
	position:relative;
	
	.slide {position:absolute; height:auto;}
	ul {
        border-top:1px solid $font;
    }
	li {
        display:inline-block;
        margin-right:3rem;
        position:relative;
    }
    ul.parentmenu {
		position:relative;
		height:auto;
		overflow:visible;
        padding-top:1rem;
    }
    ul.submenu {
		height:0;
        border-top:none;
        padding-top:10px;
            li {
                display:block;
            }
    }
    li.parent {
		cursor:pointer;
		position:relative;
    }
	.content {
		position:relative;
		overflow:hidden;
		z-index:3000;
    }
    .subcontent {
        height:0;
        overflow:hidden;
		position:absolute;
		z-index:4000;
		top:4.5rem;
        width:200%;
			li {
				background:rgba(0,0,0,0.95);
				border:1px solid #111;
                border-top:0;
				display:block;
				margin:0 5px;
				padding:6px 10px;
				color:#fff;
				width:auto;
			}
            li:first-child {border-top:1px solid #111;}
			a {
				font-family:$title-font;
				font-size:0.65em;
				font-weight:300;
				text-align:left;
				text-transform:uppercase;
			}
    }
    #flapper {
			position:relative;
			top:0.8rem;
			font-size:5rem;
			@include transition(all .2s ease);
            overflow:hidden;
            cursor:pointer;
        }
    #flopper {
		position:relative;
		top:0;
        font-size:3rem;
        padding-left:0;
        @include transition(all .2s ease);
        cursor:pointer;
    }
}
#head-master.sticky {position:fixed;} //Make sticky nav
#nav-master {
	position:relative;
	margin-bottom:2rem;
}

// Heroes
//----------------
.hero-master {
    padding-bottom:10rem;
	text-align:center;
		.title {
		display:inline-block;
		border-bottom:1px dotted #f3f3f3;
		margin-bottom:3rem;
		}
		.item {
			margin-bottom:2rem;
		}
        h6 {margin-bottom:1rem;}
        p {margin-bottom:20px;}    
}
ul.tilt-list
{display:inline-block; margin:0 auto; text-align:left;
    h5 {margin-bottom:2rem;}
    span {font-size:0.7em;}
}
.image-hero-single {
   height:auto;
    margin-bottom:-10rem;
}

// Grab Media Queries
//----------------
@import 'libcustom';
@import 'responsive';